h1
{
    text-align: center;
    font-size: 35px;
}

.contenu
{
    font-size: 20px;
    text-align: justify;
    padding: 20px 4vw;
    height: 100vh;
    color: #333;
    background: #F1F1F1;
    transition: all 0.2 ease-in-out;
}

.contenu.dark
{
    color: #F1F1F1;
    background: #333;
}

.contenu.light
{
    color: #333;
    background: #F1F1F1;
}